/*formulario*/
#formulario {
    font-size: 10px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10vh auto 0 auto;
}

/*labbel de alguns campos do formulario "UF e Esporte"*/
#formulario div label {
    margin: 5% 10px 8px 5%;
    font-size: 13px;
    font-family: Play;
}

/*campos do formulario*/
.campos {
   margin-bottom: 5%;
   justify-content: center
}

@media only screen and (max-width:500px) {
    
    /*formulario*/
    #formulario {
        margin-top: 6vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 6px;
    }
}