* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#menu {
    display: flex;
    background-color: #E1E1E1;

}

#logo {
    width: 15%;
    margin-left: 1%;
    margin-top: 0;
    position: fixed;
}

#nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2%;
}

#nav a {
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 1%;
    margin: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

@media (max-width:650px) {
    #nav a {
        font-size: 8px; 
          
    }
}