/*card de informacoes*/
.card {
    margin-top: 30px;
    align-items: center;
    font-family: Play;
    display: flex;
}


/*imagem dentro card*/
.card-img-top {
    max-width: 60%;
}


@media only screen and (max-width:500px) {
    
    /*texto dentro do card*/
    .card-text {
        font-size: 8px;
    }
}