* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;    
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Menu */ 

#menu {
    display: flex;
    background-color: #E1E1E1
}

#logo {
    width: 15%;
    margin-left: 1%;
    margin-top: 0
}

#nav {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#nav a {
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 1%;
    margin: 2%;
    font-family: Play;
    font-size: 16px;
    background-color: #ffffff;
}
/* Corpo do Site*/

/*Titulo do site "Crie um jogo"*/
.rounded-pill{
    font-family: Play !important;
    margin-top: 5vw;
    color: #ffffff;
    font-family: Play;
    font-size: 25px !important;
}

/*quadrado cinza de fundo*/
.fundo {
    width: 60%;
    height: 90vh;
    background-color:#E1E1E1;
    margin: 5% auto 8% auto;
    display: flex;
   
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Play;
}

/*formulario*/
.fundo form {
    margin-top: 30px;
    font-family: Play;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
   
}

/*botao criar*/
#singlebutton {
    font-size: 25px !important;
    font-family: Play;
    padding: 0 10px;
}

/*icones redes socias do footer*/
.icones {
    color: #000000;
}

.icones i {
    margin: 1% 1%;
}

@media only screen and (max-width:500px) {
    /*texto do menu*/
    #nav a {
        font-size: 8px; 
    }

     /*titulo*/
    .rounded-pill{
    font-size: 16px !important
    }

    /* botao participar do jogo e criar*/
    .btn-primary{
        font-size: 10px !important;
        max-width: 60%;
    }
    
    /*botao criar*/
    #singlebutton {
        font-size: 15px !important;
        font-family: Play;
    }
}