* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;    
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Menu */ 
#menu {
    display: flex;
    background-color: #E1E1E1;
   
}

#logo {
    width: 15%;
    margin-left: 1%;
    margin-top: 0;
    
}

#nav {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#nav a {
    color: #000000;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 0.5%;
    margin: 2%;
    font-family: Play;
    font-size: 15px;
    background-color: #ffffff;
}

/* Corpo do Site*/

/*titulo*/
.titulo{
    font-family: Play !important;
    margin-top: 5vw;
    font-size: 25px !important;
    color: #ffffff;
}

/*retangulo cinza de fundo*/
.fundo {
    width: 60%;
    background-color:#E1E1E1;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Play;
    align-items: center;
    margin: 2% auto 4% auto
}

/*botoes do site*/
.botao {
    background-color: #E1E1E1 !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
    font-family: Play;
    font-size: 15px !important;
    margin: 10% 20px 20px 0
}

/*icones redes socias do footer*/
.icones {
    color: #000000;
}

.icones i {
    margin: 1% 1%;
}

@media only screen and (max-width:500px) {
    /*texto do menu*/
    #nav a {
        font-size: 8px; 
    }

    /*titulo*/
    .titulo {
    font-size: 16px !important
    }s

    /*retangulo cinza de fundo*/
    .fundo {
        max-height: 500px;
        padding: 0;
    }
    
    /*botao*/
    .botao {
        max-width: 60%;
        font-size: 8px !important;
        font-family: Play;  
    }
}
/*
buscar jogo


corfirm jogo


criar jogo

result busca

result jogo*/