
/*card de informacoes*/
.card {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10%;
    font-family: Play
}


/*imagem dentro card*/
.card-img-top {
    max-width: 60%
}

/* botao Participar Do Jogo dentro do card*/
.participar {
    background-color: #E1E1E1 !important;
    border: 1px solid #000000 !important;
    color: #000000 !important;
    font-family: Play;
    font-size: 15px !important;
    margin-bottom: 10%
}

@media only screen and (max-width:500px) {

    /*texto dentro do card, abaixo da foto*/
    .card-text {
        font-size: 8px
    }
    
    /* botao participar do jogo*/
    .participar {
        font-size: 8px !important;
        font-family: Play
    }
}